<fieldset>
    <legend>User</legend>
    <div class="form-row">
      <label for="user_name" class="label-padding">User Name:</label>
      <input
        type="text"
        id="user_name"
        name="user_name"
        placeholder="Enter your user name"
      />
    </div>
  
    <div class="form-row">
      <label for="email" class="label-padding">Email Address:</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email address"
      />
    </div>
  </fieldset>
  
  <fieldset>
    <legend>General</legend>
    <div class="form-row">
      <label for="cap_id" class="label-padding">CAP ID:</label>
      <input
        type="text"
        id="cap_id"
        name="cap_id"
        placeholder="Enter your CAP ID"
      />
    </div>
  
    <div class="form-row">
      <label for="alt_id" class="label-padding">ALT ID:</label>
      <input
        type="text"
        id="alt_id"
        name="alt_id"
        placeholder="Enter your ALT ID"
      />
    </div>
  </fieldset>
  
  <fieldset>
    <legend>Documents</legend>
    <div class="form-row">
      <label for="filename" class="label-padding">Filename:</label>
      <input
        type="text"
        id="filename"
        name="filename"
        placeholder="Enter the filename"
      />
    </div>
  </fieldset>
  
  <fieldset>
    <legend>Payments</legend>
    <div class="form-row">
      <label for="batch_transaction_number" class="label-padding">Batch Transaction Number:</label>
      <input
        type="text"
        id="batch_transaction_number"
        name="batch_transaction_number"
        placeholder="Enter the batch transaction number"
      />
    </div>
  </fieldset>